.nav-row {
  display: flex;
  justify-content: space-between;
  max-width: 1900px;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.dash-logo {
  margin-right: 20px;
  font-size: 20px;
}


.si-text-h1 {
  text-align: center;
  margin-top: 80px;
  font-size: 26px;
}


.acc-info-btn-row {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 500px;
  margin-top: 60px;
}


.dash-info-container {
  width: 90%;
  margin: auto;
}


.main-panel-container {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

.left-panel {
  width: 16%;
  /* background-color: #f4f4f4; */
  padding: 20px;
  min-height: 100vh;
  overflow-y: auto;
}

.right-panel {
  width: 90%;
  margin: auto;
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #f4f4f4;
  margin-top: unset;
}

.filter {
  margin-bottom: 40px;
  cursor: pointer;
}

.filter:hover {
  color: blue;
}

.filter:hover label {
color: blue;
}


#basic-info {
  padding: 21px;
  background-color: white;
  max-width: 61%;
  display: block;
  margin-top: 40px;
  border-radius: 10px;
}


#linked-banks {
  background-color: white;
  width: 61%;
  margin-top: 30px;
  padding: 21px;
  border-radius: 10px;
  margin-bottom: 20px;

}

#linked-banks input {
  width: 90%;
  border: unset;
  padding: 9px;
  background-color: #cbcbcb;
  border-radius: 5px;
}



.save-btn {
  max-width: 100px;
  padding: 4px;
  margin: auto;
  background-color: rgb(80, 80, 240);
  text-align: center;
  margin-top: 20px;
  border-radius: 2px;
  cursor: pointer;
}


.save-btn p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.link-bank-btn {
  max-width: 100px;
  padding: 4px;
  margin: auto;
  background-color: rgb(80, 80, 240);
  text-align: center;
  margin-top: 20px;
  border-radius: 2px;
  cursor: pointer;
}


.link-bank-btn p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

#basic-info input {
  width: 90%;
  border: unset;
  padding: 9px;
  background-color: #cbcbcb;
  border-radius: 5px;
}

.filter {
  align-items: center;
  display: flex;
}

.link-dark {
color: black;
font-weight: bold;
text-decoration: unset;
font-size: 22px;
}

label {
  font-size: 21px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}

/* label:hover {
  color: blue;
} */


.nav-right {
  display: flex;
  align-items: center;
}

.td-btn {
  border: 1px solid black;
  text-align: center;
  padding: 11px;
  cursor: pointer;
}

.signup-form {
  max-width: 400px;
  margin: auto;
  margin-top: 60px;
  background-color: #c7c7c7;
  padding: 20px;
  border-radius: 4px;
}

.inner-form {
  display: block;
}

.if-input {
  width: 94%;
  margin-top: 29px !important;
  padding: 5px;
  margin: auto;
  display: block;
}

.sn-text {
  text-align: center;

}




.sign-up-btn {
  margin-top: 40px !important;
  display: block;
  margin: auto;
  background-color: #3515d0;
  border: unset;
  color: white;
  width: 26%;
  border-radius: 2px;
  padding: 4px;
  font-size: 18px;
  font-weight: 400;
}

.main-h1 {
  font-size: 47px;
  line-height: 100%;
  font-weight: bold;
  width: 50%;
  margin-right: 50px;
}

.main-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  width: 95%;
  margin: auto;
}

.supp-copy {
  font-size: 24px;
  line-height: 130%;
}

.td-text {
  margin-top: 2px;
  margin-bottom: 2px;
  color: black;
}

.link {
  text-decoration: unset;
}

input {
  outline: none;
}

.link-black {
  color: black;
}

.sc-btn {
  border: 1px solid;
    padding: 10px;
}

.sc-btn-text {
  margin-top: 2px;
  margin-bottom: 2px;
}

.sc-lm-btn {
  background-color: black;
  padding: 10px;
}

.sc-lm-btn-text {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.main-img {
  width: 100%;
    object-fit: cover;
    max-height: 520px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.main-second-section {
  display: flex;
  align-items: center;
  margin-bottom: 140px;
  margin-top: 66px;
}

.ms-left {
  width: 50%;
  margin-right: 50px;
}

.msl-title {
  font-size: 32px;
  line-height: 130%;
  font-weight: bold;
}

.sc-inner {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
  align-items: center;
}

.msl-copy {
  font-size: 19px;
  line-height: 120%;
}

.msl-row {
  display: flex;
}

footer {
  width: 95%;
  margin: auto;
  height: 70px;
}

div#root {
  height: 100%;
}



.spc {
  width: 12px;
  height: 100%;
  background-color: transparent;
}

.lm-text {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
}

.lm-btn {
  background-color: black;
  padding: 11px;
  cursor: pointer;
}

.main-line {
  background-color: gray;
  height: 1px;
  border: unset;
  margin-top: 12px;
  margin-bottom: unset;
}

.calc-container {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.prof-row {
  display: flex;
  text-align: cneter;
  margin: auto;
  justify-content: center;
  align-items: center;
}


.side-panel {
  position: fixed;
  top: 0;
  right: -400px; /* Initial position off-screen */
  width: 400px; /* Adjust width as needed */
  height: 100%;
  background-color: white;
  transition: right 0.3s ease-in-out;
  z-index: 1000; /* Ensure it's above other content */
}

.side-panel.open {
  right: 33px; /* Slide in from the right */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: none;
}


.add-exp-btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.credit-card {
  width: 84%;
  height: 158px;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}
.card-number {
  font-size: 24px;
  margin-bottom: 10px;
}
.card-holder,
.expiry-date {
  font-size: 16px;
  margin-bottom: 5px;
}
.card-type {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.main-prof-box {
  margin-top: 80px;
  /* width: 90%;
  margin: auto; */
}

.cgb-h1 {
  border: 1px solid black;
  padding: 6px;
  border-radius: 100px;
  cursor: pointer;
}

.gcc-comp {
  width: 90%;
  margin: auto;
}


.modal-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1000; /* Ensure modal appears on top of other content */
}

.modal-content-dash {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow */
  width: 90%;
  max-width: 700px;
}

.close-dash {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.close-dash:hover {
  color: #333;
}




.group-container-create {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  max-width: 400px;
  align-items: center;
}

#mg-60 {
  margin-top: 70px;
}
.visa {
  width: 90px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/1200px-Visa_Inc._logo.svg.png');
  background-size: cover;
}
.mastercard {
  width: 50px;
  height: 30px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Mastercard_2019_logo.svg/1200px-Mastercard_2019_logo.svg.png');
  background-size: cover;
}

.inner-split-cat-row {
  background-color: white;
  padding: 4px;
  border-radius: 8px;
}

.ct-split-btn {
  margin-top: 40px;
  text-align: center;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.ct-split-btn p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.iscr-box {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.iscr-input {
  width: 98%;
  margin-top: 40px;
}

.cont-input {
  width: 90%;
  border: unset;
  padding: 9px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.sr-h3 {
  font-weight: bold;
}

.man-split-cat {
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.add-exp-btn:hover {
color: blue;

}


.user-email-btn {
  background-color: rgb(14, 202, 14);
  padding: 4px;
  border-radius: 100px;
  width: 240px;
  margin-top: 15px;
  border: 1px solid gray;
}

.user-sett-row {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
  margin-left: 15px;
}

.user-email-btn-text {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 5px;
} 

.overlay.visible {
  display: block;
}

.shared-exp-row {
  width: 90%;
  margin: auto;
  margin-top: 60px;
}

.exp-title {
  font-weight: bold;
  font-size: 21px;
}

.exp-logo {
  font-size: 30px;
  margin-bottom: 10px;
}

.exp-h3 {
  font-weight: bold;
}


.main-dash-money {
  font-size: 27px;
  font-weight: bold;
}

.exp-subtitle {
  color: black;
  margin-bottom: 30px;
}

.exp-btn {
  background-color: white;
  padding: 20px;
  width: 29%;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.exp-btn:hover {
  border: 2px solid rgb(19, 117, 237);
}

.inner-exp-row {
  display: flex;
}



.inner-features-row {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.ct-pan-btn {
  width: 50%;
  padding: 6px;
  cursor: pointer;
  border: unset;
  border-radius: 4px;
}

.iifr-box {
  padding: 67px;
}

.features-roles-row {
  margin-bottom: 80px;
  margin-top: 80px;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.phn-text {
  display: block;
}

.group-box {
  border: 1px solid black;
  width: 30%;
  gap: 6px;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.17);
  display: block;
}

.gp-col {
  padding-left: unset;
}


.active-search-input {
  outline: none;
    width: 95%;
    padding: 7px;
    border: unset;
    border-bottom: 1px solid;
}

.dropdown-list {
  padding-left: unset;
}

.save-mdl-btn {
  background-color: #3515d0;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
  text-align: center;
}

.save-mdl-btn p {
  font-size: 20px;
  line-height: 25px;
  color: white;
  font-weight: bold;
  padding: 3px;
  margin-top: unset;
  margin-bottom: unset;
}

.ifr-box {
  border: 1px solid black;
  border-radius: 4px;
  flex: 1 1 492px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.17);
}

.fbox-title {
  font-size: 30px;
    font-weight: bold;
    margin-bottom: unset;
}

.fbox-sub {
  font-size: 19px;
  line-height: 30px;
}



.panel-content {
  padding: 20px;
  background-color: #aeb8e6;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}

.open-btn, .close-btn {
  position: absolute;
  top: 20px;
}

.cl-ct-row {
display: flex;
justify-content: space-between;
max-width: 200px;
align-items: center;
margin-top: 20px !important;
margin: auto;
}

.clear-btn {
background-color: white;
border: 1px solid black;
cursor: pointer;
width: 39%;
text-align: center;
border-radius: 3px;

}

.clear-btn:hover .clear-btn p {
color: blue;
}

.clear-btn p {
  margin-top: 4px;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-right: 4px;
}

.open-btn {
  right: 20px;
}

.close-btn {
  left: 20px;
}


.no-tr-history {
text-align: center;
color: gray;
margin-top: 150px;
font-size: 20px;
}

.inner-tr-history {
  text-align: center;
  cursor: pointer;
}

.inner-tr-history:hover {
  color: blue;
}

.inner-prof-row {
  display: block;
  margin-top: 60px;
}

.calc-btn {
  margin: 3px;
  width: 30%;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 18px; 
  font-weight: bold;
  border-radius: 4px;
}


@media (max-width: 767px) {
  .sign-up-btn {
    width: 96%;
  }
  
  .group-box {
    width: unset;
  }

  .signup-form {
    max-width: unset;
    width: 70%;
  }

  .modal-content-dash {
    width: 85%;
  }

  #basic-info {
    max-width: unset;
  }
  #linked-banks {
    width: unset;
  }
}

@media (max-width: 991px) {
  .main-row {
    display: unset;
  }

  .main-img {
    width: 100%;
    object-fit: cover;
    max-height: 520px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.main-h1 {
  width: unset;
  margin-right: unset;
}

.main-second-section {
  display: unset;
}
.ms-left {
  width: unset;
  margin-right: unset;
}
.msl-row {
  margin-bottom: 40px;
}
footer {
  margin-top: 40px;
}

.left-panel {
  display: none;
}

.right-panel {
  width: 100%;
}
}

@media (min-width: 1632px) {
  .ifr-box {
    flex: 1 1 692px;
  }
}