.nav-row {
  display: flex;
  justify-content: space-between;
  max-width: 1900px;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

html, body {
  height: 100%;
}

.dash-logo {
  margin-right: 20px;
  font-size: 20px;
}


.si-text-h1 {
  text-align: center;
  margin-top: 80px;
  font-size: 26px;
}


.acc-info-btn-row {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 500px;
  margin-top: 60px;
}


.dash-info-container {
  width: 90%;
  margin: auto;
}


.main-panel-container {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

.left-panel {
  width: 16%;
  /* background-color: #f4f4f4; */
  padding: 20px;
  min-height: 100vh;
  overflow-y: auto;
}

.right-panel {
  width: 90%;
  margin: auto;
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #f4f4f4;
  margin-top: unset;
}

.filter {
  margin-bottom: 40px;
  cursor: pointer;
}

.filter:hover {
  color: blue;
}

.filter:hover label {
color: blue;
}


#basic-info {
  padding: 21px;
  background-color: white;
  max-width: 61%;
  display: block;
  margin-top: 40px;
  border-radius: 10px;
}


#linked-banks {
  background-color: white;
  width: 61%;
  margin-top: 30px;
  padding: 21px;
  border-radius: 10px;
  margin-bottom: 20px;

}

#linked-banks input {
  width: 90%;
  border: unset;
  padding: 9px;
  background-color: #cbcbcb;
  border-radius: 5px;
}



.save-btn {
  max-width: 100px;
  padding: 4px;
  margin: auto;
  background-color: rgb(80, 80, 240);
  text-align: center;
  margin-top: 20px;
  border-radius: 2px;
  cursor: pointer;
}


.save-btn p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.link-bank-btn {
  max-width: 100px;
  padding: 4px;
  margin: auto;
  background-color: rgb(80, 80, 240);
  text-align: center;
  margin-top: 20px;
  border-radius: 2px;
  cursor: pointer;
}


.link-bank-btn p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

#basic-info input {
  width: 90%;
  border: unset;
  padding: 9px;
  background-color: #cbcbcb;
  border-radius: 5px;
}

.filter {
  align-items: center;
  display: flex;
}

.link-dark {
color: black;
font-weight: bold;
text-decoration: unset;
font-size: 22px;
}

label {
  font-size: 21px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}

/* label:hover {
  color: blue;
} */


.nav-right {
  display: flex;
  align-items: center;
}

.td-btn {
  border: 1px solid black;
  text-align: center;
  padding: 11px;
  cursor: pointer;
}

.signup-form {
  max-width: 400px;
  margin: auto;
  margin-top: 60px;
  background-color: #c7c7c7;
  padding: 20px;
  border-radius: 4px;
}

.inner-form {
  display: block;
}

.if-input {
  width: 94%;
  margin-top: 29px !important;
  padding: 5px;
  margin: auto;
  display: block;
}

.sn-text {
  text-align: center;

}




.sign-up-btn {
  margin-top: 40px !important;
  display: block;
  margin: auto;
  background-color: #3515d0;
  border: unset;
  color: white;
  width: 26%;
  border-radius: 2px;
  padding: 4px;
  font-size: 18px;
  font-weight: 400;
}

.main-h1 {
  font-size: 47px;
  line-height: 100%;
  font-weight: bold;
  width: 50%;
  margin-right: 50px;
}

.main-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  width: 95%;
  margin: auto;
}

.supp-copy {
  font-size: 24px;
  line-height: 130%;
}

.td-text {
  margin-top: 2px;
  margin-bottom: 2px;
  color: black;
}

.link {
  text-decoration: unset;
}

input {
  outline: none;
}

.link-black {
  color: black;
}

.sc-btn {
  border: 1px solid;
    padding: 10px;
}

.sc-btn-text {
  margin-top: 2px;
  margin-bottom: 2px;
}

.sc-lm-btn {
  background-color: black;
  padding: 10px;
}

.sc-lm-btn-text {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.main-img {
  width: 100%;
    object-fit: cover;
    max-height: 520px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.main-second-section {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.ms-left {
  width: 50%;
  margin-right: 50px;
}

.msl-title {
  font-size: 32px;
  line-height: 130%;
  font-weight: bold;
}

.sc-inner {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
  align-items: center;
}

.msl-copy {
  font-size: 19px;
  line-height: 120%;
}

.msl-row {
  display: flex;
}

footer {
  width: 95%;
  margin: auto;
  height: 70px;
}

div#root {
  height: 100%;
}



.spc {
  width: 12px;
  height: 100%;
  background-color: transparent;
}

.lm-text {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
}

.lm-btn {
  background-color: black;
  padding: 11px;
  cursor: pointer;
}

.main-line {
  background-color: gray;
  height: 1px;
  border: unset;
  margin-top: 12px;
  margin-bottom: unset;
}

.calc-container {
  display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    align-items: center;
}


.calc-btn {
  margin: 3px;
}


@media (max-width: 767px) {
  .sign-up-btn {
    width: 96%;
  }

  .signup-form {
    max-width: unset;
    width: 70%;
  }
}

@media (max-width: 991px) {
  .main-row {
    display: unset;
  }

  .main-img {
    width: 100%;
    object-fit: cover;
    max-height: 520px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.main-h1 {
  width: unset;
  margin-right: unset;
}

.main-second-section {
  display: unset;
}
.ms-left {
  width: unset;
  margin-right: unset;
}
.msl-row {
  margin-bottom: 40px;
}
footer {
  margin-top: 40px;
}

.left-panel {
  display: none;
}

.right-panel {
  width: 100%;
}
}