.nav-row {
  display: flex;
  justify-content: space-between;
  max-width: 1900px;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}


.main-gs-last {
  max-width: 1800px;
  margin: auto;
  width: 90%;
  margin-bottom: 90px;
}

.tt00 {
/* text-decoration: unset; */
color: black;
}

.blg-h1 {
  text-align: center;
}

.blg-copy {
  text-align: center;
  font-size: 52px;
  font-weight: bold;
  margin-top: 5px;
}

.article-list {
  display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    margin-bottom: 100px;
}

.art-icle-col {
  display: flex;
  align-items: center;
}

.art-icl-mn {
  width: 90%;
    margin: auto;
    padding: 5px;
}

.art-icle-container {
  width: 33%;
  margin-bottom: 40px;
}


.footer-inner-row-col {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  align-items: end;
}

.main-hp-last-h1 {
  font-size: 76px;
  line-height: 103%;
  font-weight: bold;
  width: 40%;
  margin-bottom: unset;
}

.main-hp-last-sub {
  font-size: 24px;
    max-width: 800px;
    line-height: 34px;
}

.main-gs-li {
  font-size: 24px;
  line-height: 56px;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.dash-logo {
  margin-right: 20px;
  font-size: 20px;
}

.su-col-container{
  display: flex;
  height: 100%;
  width: 100%;
}

/* Left panel for the sign-up form */
.leftPanel {
  width: 40%;  /* Set the width of the left panel to 40% */
  padding: 20px;
  box-sizing: border-box;
}

.rightPanel {
  width: 60%;  /* Set the width of the right panel to 60% */
  /* background-color: #141414;; */
}

.sumn-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.si-text-h1 {
  text-align: center;
  margin-top: 80px;
  font-size: 26px;
  font-weight: bold;
}


.acc-info-btn-row {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 500px;
  margin-top: 60px;
}


.dash-info-container {
  width: 90%;
  margin: auto;
}


.main-panel-container {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

.left-panel {
  width: 16%;
  /* background-color: #f4f4f4; */
  padding: 20px;
  /* min-height: 100vh; */
  overflow-y: auto;
}

.right-panel {
  width: 90%;
  margin: auto;
  height: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #f4f4f4;
  margin-top: unset;
  margin-bottom: unset;
}

.filter {
  margin-bottom: 40px;
  cursor: pointer;
}

.filter:hover {
  color: blue;
}

.filter:hover label {
color: blue;
}


#basic-info {
  padding: 21px;
  background-color: white;
  max-width: 61%;
  display: block;
  margin-top: 40px;
  border-radius: 10px;
}


#linked-banks {
  background-color: white;
  width: 61%;
  margin-top: 30px;
  padding: 21px;
  border-radius: 10px;
  margin-bottom: 20px;

}

#linked-banks input {
  width: 90%;
  border: unset;
  padding: 9px;
  background-color: #cbcbcb;
  border-radius: 5px;
}



.save-btn {
  max-width: 100px;
  padding: 4px;
  margin: auto;
  background-color: rgb(80, 80, 240);
  text-align: center;
  margin-top: 20px;
  border-radius: 2px;
  cursor: pointer;
}


.save-btn p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.link-bank-btn {
  max-width: 100px;
  padding: 4px;
  margin: auto;
  background-color: rgb(80, 80, 240);
  text-align: center;
  margin-top: 20px;
  border-radius: 2px;
  cursor: pointer;
}


.link-bank-btn p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

#basic-info input {
  width: 90%;
  border: unset;
  padding: 9px;
  background-color: #cbcbcb;
  border-radius: 5px;
}

.filter {
  align-items: center;
  display: flex;
}

.link-dark {
color: black;
font-weight: bold;
text-decoration: unset;
font-size: 22px;
}

.ev-comp {
  height: 100%;
}

.mob-menu-container {
  display: flex;
  justify-content: flex-end;
}

.mob-menu-container {
  display: none;
}

.mob-menu {
  padding: 12px;
    font-size: 32px;
    cursor: pointer;
}

.ev-inner-comp {
  width: 90%;
  margin: auto;
  text-align: center;
}

label {
  font-size: 21px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}

/* label:hover {
  color: blue;
} */


.nav-right {
  display: flex;
  align-items: center;
}

.td-btn {
  border: 1px solid black;
  text-align: center;
  padding: 11px;
  cursor: pointer;
}

.su-new-header {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.signup-form {
  max-width: 400px;
  margin: auto;
  margin-top: 14px;
  padding: 20px;
  border-radius: 4px;
}

.inner-form {
  display: block;
}

.if-input {
  width: 94%;
  margin-top: 29px !important;
  padding: 9px;
  margin: auto;
  display: block;
  border-radius: unset;
  border: 1px solid #707070;
}

.sn-text {
  text-align: center;

}




.sign-up-btn {
  margin-top: 40px !important;
  display: block;
  margin: auto;
  background-color: #3515d0;
  border: unset;
  color: white;
  width: 26%;
  border-radius: 2px;
  padding: 4px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.main-h1 {
  font-size: 47px;
  line-height: 100%;
  font-weight: bold;
  width: 50%;
  margin-right: 50px;
  color: white;
}

.main-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

.main-container {
  margin: auto;
}

.supp-copy {
  font-size: 24px;
  line-height: 130%;
  color: white;
}

.td-text {
  margin-top: 2px;
  margin-bottom: 2px;
  color: black;
}

.link {
  text-decoration: unset;
}

input {
  outline: none;
}

.link-black {
  color: black;
}

.sc-btn {
  border: 1px solid;
    padding: 10px;
}

.sc-btn-text {
  margin-top: 2px;
  margin-bottom: 2px;
}

.sc-lm-btn {
  background-color: rgb(24, 108, 211);
  padding: 10px;
  border-radius: 4px;
}

.sc-lm-btn-text {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.main-img {
  width: 100%;
    object-fit: cover;
    max-height: 320px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.ms-mid-2-comp {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  align-items: flex-start;
  width: 95%;
}

.ms-mid-h3 {
  color: white;
  font-size: 72px;
  font-weight: bold;
  line-height: 103%;
  width: 40%;
}

.ms-mid-right {
  width: 56%;
  margin-bottom: 90px;
  background-color: white;
  border-radius: 23px;
  padding: 9px;
}

.main-second-section {
  display: flex;
  align-items: center;
  margin-bottom: 220px !important;
  margin-top: 126px !important;
  width: 95%;
  margin: auto;
}

.ms-left {
  width: 50%;
  margin-right: 50px;
}

.msl-title {
  font-size: 32px;
  line-height: 130%;
  font-weight: bold;
}

.sc-inner {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
  align-items: center;
}

.msl-copy {
  font-size: 19px;
  line-height: 120%;
}

.msl-row {
  display: flex;
}

footer {
  margin: auto;
  height: 255px;
  background-color: #f2f2f2;
  position: absolute;
  width: 100%;
}

.footer-h1-logo {
  color: rgb(24, 108, 211);
  font-size: 47px;
  margin-bottom: unset;
  font-weight: bold;
  letter-spacing: -3px;
}

.footer-p-copy {
  max-width: 300px;
  line-height: 22px;
  font-size: 17px;
}



.footer-pos {
  text-align: end;
    position: absolute;
    right: 15px;
    top: 73%;
}

.footer-inner {
  width: 95%;
  margin: auto;
}

div#root {
  height: 100%;
}



.spc {
  width: 12px;
  height: 100%;
  background-color: transparent;
}

.lm-text {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
}

.lm-btn {
  background-color: black;
  padding: 11px;
  cursor: pointer;
}

.main-line {
  background-color: gray;
  height: 1px;
  border: unset;
  margin-top: 12px;
  margin-bottom: unset;
}

.calc-container {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.prof-row {
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #5b7fff;
  width: 90%;
  margin-top: 50px;
  border-radius: 6px;
  color: white;
  margin-bottom: 40px;
}


.side-panel {
  position: fixed;
  top: 0;
  right: -400px; /* Initial position off-screen */
  width: 400px; /* Adjust width as needed */
  height: 100%;
  background-color: white;
  transition: right 0.3s ease-in-out;
  z-index: 1000; /* Ensure it's above other content */
}

.side-panel.open {
  right: 33px; /* Slide in from the right */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: none;
}


.add-exp-btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background-color: #40413f;
  border: unset;
  border-radius: 2px;
  padding: 7px;
  max-width: 400px;
  color: white;
  font-weight: bold;
  width: 10%;
}

.sc-gray-bg {
  background-color: #141414;
}

#btn-1-fix {
  margin-top: 30px !important;
  width: 90%;
  display: block;
  margin: auto;
}

.pen {
  cursor: pointer;
}

.pen:hover {
  color: blue;
}

.credit-card {
  width: 84%;
  height: 158px;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 60px !important;
  margin: auto;
  display: block;
}
.card-number {
  font-size: 24px;
  margin-bottom: 10px;
}
.card-holder,
.expiry-date {
  font-size: 16px;
  margin-bottom: 5px;
}
.card-type {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.main-prof-box {
  margin-top: 80px;
  /* width: 90%;
  margin: auto; */
}

.cgb-h1 {
  border: 1px solid black;
  padding: 6px;
  border-radius: 100px;
  cursor: pointer;
}

.cgb-h1:hover {
  background-color: rgb(24, 108, 211);
  color: white;
}


.gcc-comp {
  width: 90%;
  margin: auto;
}

.blog-img-main {
  width: 400px;
  height: 300px; 
  margin-right: 20px; 
  object-fit: cover;
}

.art-cat {
  color: gray;
}


.modal-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1000; /* Ensure modal appears on top of other content */
}

.modal-content-dash {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow */
  width: 90%;
  max-width: 700px;
}

.close-dash {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.close-dash:hover {
  color: #333;
}




.group-container-create {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  max-width: 400px;
  align-items: center;
}

#mg-60 {
  margin-top: 70px;
}
.visa {
  width: 90px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/1200px-Visa_Inc._logo.svg.png');
  background-size: cover;
}
.mastercard {
  width: 50px;
  height: 30px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Mastercard_2019_logo.svg/1200px-Mastercard_2019_logo.svg.png');
  background-size: cover;
}

.inner-split-cat-row {
  background-color: white;
  padding: 4px;
  border-radius: 8px;
}

.ct-split-btn {
  margin-top: 40px;
  text-align: center;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.ct-split-btn p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.iscr-box {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.iscr-input {
  width: 98%;
  margin-top: 40px;
}

.cont-input {
  width: 90%;
  border: unset;
  padding: 9px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.sr-h3 {
  font-weight: bold;
}

.man-split-cat {
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}




.user-email-btn {
  background-color: rgb(14, 202, 14);
  padding: 4px;
  border-radius: 100px;
  width: 240px;
  margin-top: 15px;
  border: 1px solid gray;
}

.user-sett-row {
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
  margin-left: 15px;
}

.user-email-btn-text {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 5px;
} 

.overlay.visible {
  display: block;
}

.shared-exp-row {
  width: 90%;
  margin: auto;
  margin-top: 60px;
}

.exp-title {
  font-weight: bold;
  font-size: 21px;
}

.exp-logo {
  font-size: 30px;
  margin-bottom: 10px;
}

.exp-h3 {
  font-weight: bold;
}


.main-dash-money {
  font-size: 27px;
  font-weight: bold;
}

.exp-subtitle {
  color: black;
  margin-bottom: 30px;
}

.exp-btn {
  background-color: white;
  padding: 20px;
  width: 29%;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.exp-btn:hover {
  border: 2px solid rgb(19, 117, 237);
}

.inner-exp-row {
  display: flex;
}



.inner-features-row {
  width: 95%;
  margin: auto;
  max-width: 1190px;
}

.ct-pan-btn {
  width: 50%;
  padding: 6px;
  cursor: pointer;
  border: unset;
  border-radius: 4px;
}

.footer-line {
  margin-top: unset;
  border: unset;
  background-color: transparent;
}

.iifr-box {
  padding: 5% 5%;
}

.features-roles-row {
  margin-bottom: 80px;
  margin-top: 80px;
}

.error {
  color: #0024d5;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.phn-text {
  display: block;
}

.group-box {
  border: 1px solid black;
  width: 40%;
  gap: 6px;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.17);
  display: block;
}

.gp-col {
  padding-left: unset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
}


.active-search-input {
  outline: none;
    width: 95%;
    padding: 7px;
    border: unset;
    border-bottom: 1px solid;
}

.dropdown-list {
  padding-left: unset;
}

.save-mdl-btn {
  background-color: #3515d0;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
  text-align: center;
  margin-top: 20px;
}

.sh-btn-link {
  max-width: 100px;
  background-color: teal;
  border-radius: 100px;
  cursor: pointer;
  margin: auto;
}

.sh-btn-link p {
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 3px;
}


.sh-btn-link-2 {
  max-width: 100px;
  background-color: #e9e6e6;
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
  margin: auto;
}

.sh-btn-link-2 p {
  text-align: center;
  font-weight: bold;
  color: black;
  padding: 3px;
  margin-top: unset;
  margin-bottom: unset;
}

.save-mdl-btn p {
  font-size: 20px;
  line-height: 25px;
  color: white;
  font-weight: bold;
  padding: 3px;
  margin-top: unset;
  margin-bottom: unset;
}

.ifr-box {
  border: 1px solid black;
  border-radius: 34px;
  flex: 1 1 492px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.17);
  margin-bottom: 138px;
}

.ifr-box:hover {
  box-shadow: 0px 20px 18px 0px rgba(0, 0, 0, 0.17);
}


#tr-rot-1 {
  transform: rotate(-4deg);
}

#tr-rot-2 {
  transform: rotate(-1deg);
}

#tr-rot-3 {
  transform: rotate(-3deg);
}

.fbox-title {
  font-size: 30px;
    font-weight: bold;
    margin-bottom: unset;
    color: rgb(24, 108, 211);
}

.fbox-sub {
  font-size: 21px;
  line-height: 30px;
}



.panel-content {
  padding: 20px;
  background-color: #aeb8e6;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}

.open-btn, .close-btn {
  position: absolute;
  top: 20px;
}

.cl-ct-row {
display: flex;
justify-content: space-between;
max-width: 200px;
align-items: center;
margin-top: 20px !important;
margin: auto;
}

.clear-btn {
background-color: white;
border: 1px solid black;
cursor: pointer;
width: 39%;
text-align: center;
border-radius: 3px;

}

.clear-btn:hover .clear-btn p {
color: blue;
}

.clear-btn p {
  margin-top: 4px;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-right: 4px;
}

.open-btn {
  right: 20px;
}

.close-btn {
  left: 20px;
}


.no-tr-history {
text-align: center;
color: gray;
margin-top: 150px;
font-size: 20px;
}

.inner-tr-history {
  text-align: center;
  cursor: pointer;
  border: 1px solid blue;
  border-radius: 100px;
  max-width: 200px;
  margin: auto;
  padding: 5px;
  background-color: #5b7fff;
  color: white;
  font-weight: bold;
}

/* .inner-tr-history:hover {
  color: blue;
} */

.inner-prof-row {
  display: block;
  margin-top: 60px;
}

.calc-btn {
  margin: 3px;
  width: 30%;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 18px; 
  font-weight: bold;
  border-radius: 4px;
}

.ft-bold {
  font-weight: bold;
}

.iscr-box-hp {
  display: flex;
}


.ct-split-btn-hp {
  margin-top: 40px !important;
  text-align: center;
  background-color: rgb(0, 123, 255);
  padding: 5px;
  border-radius: 100px;
  cursor: pointer;
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px !important;
}

.ct-split-btn-hp p {
  margin-top: 4px;
  margin-bottom: 4px;
  color: white;
  font-weight: bold;
}

.iscr-box-hp-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.tooltip {
  position: absolute;
  right: 12px;
  top: 40px;
  background-color: white;
  border-radius: 4px;
  padding-right: 11px;
}

.tlmbct-1 li {
list-style: none;
margin-bottom: 5px;
}

#mid-exp-btn {
  margin-left: 7px;
  margin-right: 7px;
}

.mb-er-lgn {
  display: flex;
  align-items: center;
}

@media (min-width: 767px) {
  .tlmbct-1 {
    display: none;
  }
}


@media (max-width: 767px) {
  .sign-up-btn {
    width: 96%;
  }

  .art-icle-col {
    display: unset;
  }

  .blog-img-main {
    width: 400px;
    height: 300px;
    margin-right: 11px;
    object-fit: cover;
}

  .main-prof-box {
    margin-top: unset;
  }

  .exp-btn {
    padding: unset;
    margin: unset;
  }

  .exp-logo {
    font-size: 30px;
    margin-bottom: 10px !important;
    margin: auto;
    display: block;
    margin-top: 12px !important;
}

.exp-h3 {
  font-weight: bold;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 10px !important;
}

  .acc-info-btn-row {
    margin-top: 30px;
    text-align: center;
  }
  .prof-row {
    display: none;
  }

  .shared-exp-row {
    margin-top: unset;
  }


.mob-menu-container {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}


  .ifr-box {
    margin-bottom: 38px;
  }

  .main-hp-last-h1 {
    width: unset;
  }
  
  .group-box {
    width: unset;
  }

  .ms-mid-2-comp {
    display: block;
    max-width: unset;
    margin-bottom: unset;
    padding-bottom: 60px;
    width: 95%;
    margin: auto;
  }

  .ms-mid-h3 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    line-height: 103%;
    text-align: center;
    width: unset;
}

.ms-mid-right {
  width: unset;
  margin-bottom: unset;

}
  .signup-form {
    max-width: unset;
    width: 70%;
  }

  .modal-content-dash {
    width: 85%;
  }

  #basic-info {
    max-width: unset;
  }
  #linked-banks {
    width: unset;
  }
}

.ms-lr-col-container {
  width: 95%;
  margin: auto;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.cc-input-col {
  width: 95%;
  margin: auto;
  margin-top: 30px;
}

.at-h1 {
  font-weight: bold;
  margin-top: 20px;
}

.att-row {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.at-bbls {
  border-radius: 100px;
  border: 1px solid blue;
  padding: 4px;
  cursor: pointer;
  width: 29%;
  margin-bottom: 35px;
}

.at-bbls p {
  margin-top: unset;
  margin-bottom: unset;
  text-align: center;
}

.group-box img {
  width: 100% !important;
}

.cc-input {
  width: 95%;
  padding: 6px;
  margin-bottom: 20px;
}

.cc-input-2 {
  padding: 6px;
}

@media (max-width: 991px) {
  .main-row {
    display: unset;
  }

  .rightPanel {
    display: none;
  }
  .leftPanel {
    width: 100%;
  }
  .ifr-box {
    border: 1px solid black;
    border-radius: 4px;
    flex: 1 1 192px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.17);
}

  .ms-l-col-container {
    width: 95%;
    margin: auto;
  }

  .main-img {
    width: 100%;
    object-fit: cover;
    max-height: 320px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.main-h1 {
  width: 95%;
  padding-top: 21px;
  margin: auto;
}

.supp-copy {
  font-size: 24px;
  line-height: 130%;
  color: white;
  width: 95%;
  margin: auto;
  margin-top: 15px !important;
}

.sc-inner {
  display: block;
  justify-content: space-between;
  max-width: unset;
  align-items: center;
  width: 95%;
  margin: auto;
  margin-top: 22px;
}

.sc-lm-btn {
  background-color: rgb(24, 108, 211);
  padding: 10px;
  border-radius: 4px;
  margin-top: 11px;
}

.main-second-section {
  display: unset;
}
.ms-left {
  width: 95%;
  margin-right: unset;
  margin: auto;
}



.msl-row {
  margin-bottom: 40px;
}
footer {
  /* margin-top: 40px; */
  height: 348px;
}

.left-panel {
  display: none;
}

.right-panel {
  width: 100%;
}
}

@media (max-width: 1300px) {
  .art-icle-container {
    width: unset;
  }
}

@media (min-width: 1632px) {
  .ifr-box {
    flex: 1 1 692px;
  }
}

